@font-face{
    font-family: notoSans_regular;
    src: url('./assets/fonts/static/NotoSans-Regular.ttf');
}
@font-face{
    font-family: notoSans_medium;
    src: url('./assets/fonts/static/NotoSans-Medium.ttf');
}
.colorBG_LightGradient{
    background-image: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}
.colorBG_DarkGradient{
    background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
}
.colorBG_Neutral900{
    background-color: hsl(227,75%,14%);
}
.colorBG_Neutral800{
    background-color: hsl(226,25%, 17%);
}
.colorBG_Neutral700{
    background-color: hsl(225, 23%, 24%);
}
.colorBG_Neutral600{
    background-color: hsl(226, 11%, 37%);
}
.colorBG_Neutral300{
    background-color: hsl(0,0%,78%);
}
.colorBG_Neutral200{
    background-color: hsl(217,61%, 90%);
}
.colorBG_Neutral100{
    background-color: hsl(0, 0%, 93%);
}
.colorBG_Neutral0{
    background-color: hsl(200, 60%, 99%);
}
.colorBG_Red400{
    background-color: hsl(3,86%,64%);
}
.colorBG_Red500{
    background-color: hsl(3, 71%, 56%);
}
.colorBG_Red700{
    background-color: hsl(3, 77%, 44%);
}
.color_Neutral900{
    color: hsl(227,75%,14%);
}
.color_Neutral800{
    color: hsl(226,25%, 17%);
}
.color_Neutral700{
    color: hsl(225, 23%, 24%);
}
.color_Neutral600{
    color: hsl(226, 11%, 37%);
}
.color_Neutral300{
    color: hsl(0,0%,78%);
}
.color_Neutral200{
    color: hsl(217,61%, 90%);
}
.color_Neutral100{
    color: hsl(0, 0%, 93%);
}
.color_Neutral0{
    color: hsl(200, 60%, 99%);
}
.color_Red400{
    color: hsl(3,86%,64%);
}
.color_Red500{
    color: hsl(3, 71%, 56%);
}
.color_Red700{
    color: hsl(3, 77%, 44%);
}
.fontWeight700{
    font-weight: 700;
}
.fontSizeSmall{
    font-size: 0.8rem;
}
.fontSizeMedium{
    font-size: 1rem;
}
/**

**/

.borderCircle{
    border-radius: 0.4rem;
}
.borderCircle200{
    border-radius: 1rem;
}
.borderCircle300{
    border-radius: 50px;
}
.borderRemove{
    border: 0px;
}
.boxShadow{
    box-shadow: 0 1px 2px 1px hsla(0, 0%, 0%, 0.1)
}

html{
    font-family: notoSans_regular;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.headerLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
}
    .buttonMode{
        background-image: url('./assets/images/icon-moon.svg');
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        width: 2.4rem;
        height: 2.4rem;
    }
.sectionButton{
    display: grid;
    grid-template-areas:
    "header header header"
    "buttonAll buttonActive buttonInactive";
    grid-gap: 1rem;
}
    .sectionButton > h1{
        grid-area: header;
        padding: 0;
        margin: 0;
        justify-self: center;
        font-family: notoSans_Medium;
        font-weight: 700;
    }
    .sectionButton > button{
        height: 2rem;
    }
    .buttonAll{
        grid-area: buttonAll;
    }
    .buttonActive{
        grid-area: buttonActive;
    }
    .buttonInactive{
        grid-area: buttonInactive;
    }
.sectionOutput{
    display: flex;
    justify-content: center;
    width: 100%;
}
    .divList{
        display: grid;
        padding: 1rem;
    }
        .divHeader{
            display: grid;
            margin: 0px;
            padding: 0px;
            grid-template-columns: 1fr 6fr;
            grid-template-rows: 1rem;
            grid-template-areas:
            "dataImage  dataHeader"
            "dataImage  dataDesc"
            ".          dataDesc"
            ".          dataDesc";
            grid-gap: 1rem;
        }
            .divHeader > *{
                padding: 0px;
                margin: 0px;
            }
            .dataImage{
                grid-area: dataImage;
            }
            .dataHeader{
                grid-area: dataHeader;
                height: 1rem;
            }
            .dataDesc{
                grid-area: dataDesc;
            }
        .divButtons{
            display: flex;
            justify-content: space-between;
            height: 2.4rem;
            align-items: center;
        }
            .divButtons > .dataRemove{
                height: 100%;
                width: 6rem;

                border: 1px solid hsl(226, 11%, 37%);
            }
            .divButtons > .dataRemove:active{
                background-color: hsl(226, 11%, 37%);
            }
            .divButtons > .dataToggle{
                height: 60%;
                width: 2.4rem;
                display: flex;
                align-items: center;
                padding: 0.07rem 0.15rem;
            }
            .dataToggleInput{
                width: 0px;
                height: 0px;
            }
            .dataToggleSpan{
                content: '';
                width: 1.2rem;
                height: 1.2rem;
            }
            .divToggleActive{
                
            }
            .divToggleInactive{

            }
@media all and (orientation: portrait){
    html{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
    .headerLogo{
        width: 90%;
    }
    .sectionButton{
        width: 90%;
    }
    .sectionOutput{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media all and (orientation: landscape){
   
}